NET "GBA_RDn" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GBA_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GBA_WRn" CLOCK_DEDICATED_ROUTE = FALSE;
NET "RPI_PIN13" CLOCK_DEDICATED_ROUTE = FALSE;

NET "GBA_ADDRESS[15]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[14]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[13]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[12]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[11]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[10]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[9]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[8]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[7]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[6]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[5]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[4]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[3]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[2]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[1]" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[0]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[7]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[6]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[5]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[4]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[3]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[2]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[1]" IOSTANDARD = LVCMOS33;
NET "GBA_DATA[0]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[16]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[15]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[14]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[13]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[12]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[11]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[10]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[9]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[8]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[7]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[6]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[5]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[4]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[3]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[2]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[1]" IOSTANDARD = LVCMOS33;
NET "RAM_ADDRESS[0]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[15]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[14]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[13]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[12]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[11]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[10]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[9]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[8]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[7]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[6]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[5]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[4]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[3]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[2]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[1]" IOSTANDARD = LVCMOS33;
NET "RAM_DATA[0]" IOSTANDARD = LVCMOS33;
NET "GBA_VCC" IOSTANDARD = LVCMOS33;
NET "GBA_CLK" IOSTANDARD = LVCMOS33;
NET "GBA_WRn" IOSTANDARD = LVCMOS33;
NET "GBA_RDn" IOSTANDARD = LVCMOS33;
NET "GBA_CSn" IOSTANDARD = LVCMOS33;
NET "GBA_CS2n" IOSTANDARD = LVCMOS33;
NET "RAM_WEn" IOSTANDARD = LVCMOS33;
NET "RAM_CEn" IOSTANDARD = LVCMOS33;
NET "RAM_OEn" IOSTANDARD = LVCMOS33;
NET "AD1895_CLK" IOSTANDARD = LVCMOS33;
NET "I2S_CLK" IOSTANDARD = LVCMOS33;
NET "I2S_LRCLK" IOSTANDARD = LVCMOS33;
NET "I2S_DATA" IOSTANDARD = LVCMOS33;
NET "ClkLoopOut1" IOSTANDARD = LVCMOS33;
NET "ClkLoopOut2" IOSTANDARD = LVCMOS33;
NET "ClkLoopIn1" IOSTANDARD = LVCMOS33;
NET "ClkLoopIn2" IOSTANDARD = LVCMOS33;
NET "CLK50MHZ" IOSTANDARD = LVCMOS33;
NET "GBA_ADDRESS[15]" DRIVE = 2;
NET "GBA_ADDRESS[14]" DRIVE = 2;
NET "GBA_ADDRESS[13]" DRIVE = 2;
NET "GBA_ADDRESS[12]" DRIVE = 2;
NET "GBA_ADDRESS[11]" DRIVE = 2;
NET "GBA_ADDRESS[10]" DRIVE = 2;
NET "GBA_ADDRESS[9]" DRIVE = 2;
NET "GBA_ADDRESS[8]" DRIVE = 2;
NET "GBA_ADDRESS[7]" DRIVE = 2;
NET "GBA_ADDRESS[6]" DRIVE = 2;
NET "GBA_ADDRESS[5]" DRIVE = 2;
NET "GBA_ADDRESS[4]" DRIVE = 2;
NET "GBA_ADDRESS[3]" DRIVE = 2;
NET "GBA_ADDRESS[2]" DRIVE = 2;
NET "GBA_ADDRESS[1]" DRIVE = 2;
NET "GBA_ADDRESS[0]" DRIVE = 2;
NET "GBA_DATA[7]" DRIVE = 2;
NET "GBA_DATA[6]" DRIVE = 2;
NET "GBA_DATA[5]" DRIVE = 2;
NET "GBA_DATA[4]" DRIVE = 2;
NET "GBA_DATA[3]" DRIVE = 2;
NET "GBA_DATA[2]" DRIVE = 2;
NET "GBA_DATA[1]" DRIVE = 2;
NET "GBA_DATA[0]" DRIVE = 2;
NET "RAM_ADDRESS[16]" DRIVE = 8;
NET "RAM_ADDRESS[15]" DRIVE = 8;
NET "RAM_ADDRESS[14]" DRIVE = 8;
NET "RAM_ADDRESS[13]" DRIVE = 8;
NET "RAM_ADDRESS[12]" DRIVE = 8;
NET "RAM_ADDRESS[11]" DRIVE = 8;
NET "RAM_ADDRESS[10]" DRIVE = 8;
NET "RAM_ADDRESS[9]" DRIVE = 8;
NET "RAM_ADDRESS[8]" DRIVE = 8;
NET "RAM_ADDRESS[7]" DRIVE = 8;
NET "RAM_ADDRESS[6]" DRIVE = 8;
NET "RAM_ADDRESS[5]" DRIVE = 8;
NET "RAM_ADDRESS[4]" DRIVE = 8;
NET "RAM_ADDRESS[3]" DRIVE = 8;
NET "RAM_ADDRESS[2]" DRIVE = 8;
NET "RAM_ADDRESS[1]" DRIVE = 8;
NET "RAM_ADDRESS[0]" DRIVE = 8;
NET "RAM_DATA[15]" DRIVE = 2;
NET "RAM_DATA[14]" DRIVE = 2;
NET "RAM_DATA[13]" DRIVE = 2;
NET "RAM_DATA[12]" DRIVE = 2;
NET "RAM_DATA[11]" DRIVE = 2;
NET "RAM_DATA[10]" DRIVE = 2;
NET "RAM_DATA[9]" DRIVE = 2;
NET "RAM_DATA[8]" DRIVE = 2;
NET "RAM_DATA[7]" DRIVE = 2;
NET "RAM_DATA[6]" DRIVE = 2;
NET "RAM_DATA[5]" DRIVE = 2;
NET "RAM_DATA[4]" DRIVE = 2;
NET "RAM_DATA[3]" DRIVE = 2;
NET "RAM_DATA[2]" DRIVE = 2;
NET "RAM_DATA[1]" DRIVE = 2;
NET "RAM_DATA[0]" DRIVE = 2;
NET "GBA_VCC" DRIVE = 12;
NET "GBA_CLK" DRIVE = 12;
NET "GBA_WRn" DRIVE = 12;
NET "GBA_RDn" DRIVE = 12;
NET "GBA_CSn" DRIVE = 12;
NET "GBA_CS2n" DRIVE = 12;
NET "RAM_WEn" DRIVE = 8;
NET "RAM_CEn" DRIVE = 8;
NET "RAM_OEn" DRIVE = 8;
NET "AD1895_CLK" DRIVE = 6;
NET "I2S_CLK" DRIVE = 6;
NET "I2S_LRCLK" DRIVE = 6;
NET "I2S_DATA" DRIVE = 12;
NET "ClkLoopOut1" DRIVE = 2;
NET "ClkLoopOut2" DRIVE = 2;
NET "ClkLoopIn1" DRIVE = 12;
NET "ClkLoopIn2" DRIVE = 12;
NET "CLK50MHZ" DRIVE = 12;
NET "GBA_ADDRESS[15]" SLEW = QUIETIO;
NET "GBA_ADDRESS[14]" SLEW = QUIETIO;
NET "GBA_ADDRESS[13]" SLEW = QUIETIO;
NET "GBA_ADDRESS[12]" SLEW = QUIETIO;
NET "GBA_ADDRESS[11]" SLEW = QUIETIO;
NET "GBA_ADDRESS[10]" SLEW = QUIETIO;
NET "GBA_ADDRESS[9]" SLEW = QUIETIO;
NET "GBA_ADDRESS[8]" SLEW = QUIETIO;
NET "GBA_ADDRESS[7]" SLEW = QUIETIO;
NET "GBA_ADDRESS[6]" SLEW = QUIETIO;
NET "GBA_ADDRESS[5]" SLEW = QUIETIO;
NET "GBA_ADDRESS[4]" SLEW = QUIETIO;
NET "GBA_ADDRESS[3]" SLEW = QUIETIO;
NET "GBA_ADDRESS[2]" SLEW = QUIETIO;
NET "GBA_ADDRESS[1]" SLEW = QUIETIO;
NET "GBA_ADDRESS[0]" SLEW = QUIETIO;
NET "GBA_DATA[7]" SLEW = QUIETIO;
NET "GBA_DATA[6]" SLEW = QUIETIO;
NET "GBA_DATA[5]" SLEW = QUIETIO;
NET "GBA_DATA[4]" SLEW = QUIETIO;
NET "GBA_DATA[3]" SLEW = QUIETIO;
NET "GBA_DATA[2]" SLEW = QUIETIO;
NET "GBA_DATA[1]" SLEW = QUIETIO;
NET "GBA_DATA[0]" SLEW = QUIETIO;
NET "RAM_ADDRESS[16]" SLEW = SLOW;
NET "RAM_ADDRESS[15]" SLEW = SLOW;
NET "RAM_ADDRESS[14]" SLEW = SLOW;
NET "RAM_ADDRESS[13]" SLEW = SLOW;
NET "RAM_ADDRESS[12]" SLEW = SLOW;
NET "RAM_ADDRESS[11]" SLEW = SLOW;
NET "RAM_ADDRESS[10]" SLEW = SLOW;
NET "RAM_ADDRESS[9]" SLEW = SLOW;
NET "RAM_ADDRESS[8]" SLEW = SLOW;
NET "RAM_ADDRESS[7]" SLEW = SLOW;
NET "RAM_ADDRESS[6]" SLEW = SLOW;
NET "RAM_ADDRESS[5]" SLEW = SLOW;
NET "RAM_ADDRESS[4]" SLEW = SLOW;
NET "RAM_ADDRESS[3]" SLEW = SLOW;
NET "RAM_ADDRESS[2]" SLEW = SLOW;
NET "RAM_ADDRESS[1]" SLEW = SLOW;
NET "RAM_ADDRESS[0]" SLEW = SLOW;
NET "RAM_DATA[15]" SLEW = QUIETIO;
NET "RAM_DATA[14]" SLEW = QUIETIO;
NET "RAM_DATA[13]" SLEW = QUIETIO;
NET "RAM_DATA[12]" SLEW = QUIETIO;
NET "RAM_DATA[11]" SLEW = QUIETIO;
NET "RAM_DATA[10]" SLEW = QUIETIO;
NET "RAM_DATA[9]" SLEW = QUIETIO;
NET "RAM_DATA[8]" SLEW = QUIETIO;
NET "RAM_DATA[7]" SLEW = QUIETIO;
NET "RAM_DATA[6]" SLEW = QUIETIO;
NET "RAM_DATA[5]" SLEW = QUIETIO;
NET "RAM_DATA[4]" SLEW = QUIETIO;
NET "RAM_DATA[3]" SLEW = QUIETIO;
NET "RAM_DATA[2]" SLEW = QUIETIO;
NET "RAM_DATA[1]" SLEW = QUIETIO;
NET "RAM_DATA[0]" SLEW = QUIETIO;
NET "GBA_VCC" SLEW = SLOW;
NET "GBA_CLK" SLEW = SLOW;
NET "GBA_WRn" SLEW = SLOW;
NET "GBA_RDn" SLEW = SLOW;
NET "GBA_CSn" SLEW = SLOW;
NET "GBA_CS2n" SLEW = SLOW;
NET "RAM_WEn" SLEW = SLOW;
NET "RAM_CEn" SLEW = SLOW;
NET "RAM_OEn" SLEW = SLOW;
NET "AD1895_CLK" SLEW = FAST;
NET "I2S_CLK" SLEW = SLOW;
NET "I2S_LRCLK" SLEW = SLOW;
NET "I2S_DATA" SLEW = SLOW;
NET "ClkLoopOut1" SLEW = SLOW;
NET "ClkLoopOut2" SLEW = SLOW;
NET "ClkLoopIn1" SLEW = SLOW;
NET "ClkLoopIn2" SLEW = SLOW;
NET "CLK50MHZ" SLEW = SLOW;


NET "RAM_ADDRESS[5]" LOC = P139;
NET "RAM_ADDRESS[6]" LOC = P138;
NET "RAM_ADDRESS[7]" LOC = P135;
NET "RAM_OEn" LOC = P134;
NET "RAM_DATA[15]" LOC = P132;
NET "RAM_DATA[14]" LOC = P131;
NET "RAM_DATA[13]" LOC = P130;
NET "RAM_DATA[12]" LOC = P129;
NET "ClkLoopOut1" LOC = P127;
NET "ClkLoopIn1" LOC = P126;
NET "ClkLoopOut2" LOC = P125;
NET "ClkLoopIn2" LOC = P124;
NET "RAM_DATA[11]" LOC = P117;
NET "RAM_DATA[10]" LOC = P116;
NET "RAM_DATA[9]" LOC = P115;
NET "RAM_DATA[8]" LOC = P114;
NET "RAM_ADDRESS[8]" LOC = P113;
NET "RAM_ADDRESS[9]" LOC = P112;
NET "RAM_ADDRESS[10]" LOC = P111;
NET "RAM_ADDRESS[11]" LOC = P110;
NET "RAM_ADDRESS[4]" LOC = P104;
NET "RAM_ADDRESS[3]" LOC = P103;
NET "RAM_ADDRESS[2]" LOC = P102;
NET "RAM_ADDRESS[1]" LOC = P101;
NET "RAM_ADDRESS[0]" LOC = P99;
NET "RAM_CEn" LOC = P98;
NET "RAM_DATA[0]" LOC = P96;
NET "RAM_DATA[1]" LOC = P93;
NET "RAM_DATA[2]" LOC = P92;
NET "RAM_DATA[3]" LOC = P91;
NET "RAM_DATA[4]" LOC = P90;
NET "RAM_DATA[5]" LOC = P88;
NET "RAM_DATA[6]" LOC = P87;
NET "RAM_DATA[7]" LOC = P85;
NET "RAM_WEn" LOC = P84;
NET "RAM_ADDRESS[16]" LOC = P83;
NET "RAM_ADDRESS[15]" LOC = P82;
NET "RAM_ADDRESS[14]" LOC = P79;
NET "RAM_ADDRESS[13]" LOC = P78;
NET "RAM_ADDRESS[12]" LOC = P77;
NET "GBA_CS2n" LOC = P76;
NET "GBA_DATA[7]" LOC = P75;
NET "GBA_DATA[6]" LOC = P72;
NET "GBA_DATA[5]" LOC = P71;
NET "GBA_DATA[4]" LOC = P70;
NET "GBA_DATA[3]" LOC = P69;
NET "GBA_DATA[2]" LOC = P68;
NET "GBA_DATA[1]" LOC = P64;
NET "GBA_DATA[0]" LOC = P63;
NET "GBA_ADDRESS[15]" LOC = P62;
NET "GBA_ADDRESS[14]" LOC = P60;
NET "GBA_ADDRESS[13]" LOC = P59;
NET "GBA_ADDRESS[12]" LOC = P58;
NET "GBA_ADDRESS[11]" LOC = P57;
NET "GBA_ADDRESS[10]" LOC = P54;
NET "GBA_ADDRESS[9]" LOC = P51;
NET "GBA_ADDRESS[8]" LOC = P50;
NET "GBA_ADDRESS[7]" LOC = P49;
NET "GBA_ADDRESS[6]" LOC = P48;
NET "GBA_ADDRESS[5]" LOC = P47;
NET "GBA_ADDRESS[4]" LOC = P46;
NET "GBA_ADDRESS[3]" LOC = P41;
NET "GBA_ADDRESS[2]" LOC = P32;
NET "GBA_ADDRESS[1]" LOC = P31;
NET "GBA_ADDRESS[0]" LOC = P30;
NET "CLK50MHZ" LOC = P21;
NET "I2S_CLK" LOC = P13;
NET "I2S_LRCLK" LOC = P11;
NET "I2S_DATA" LOC = P6;
NET "GBA_WRn" LOC = P27;
NET "GBA_RDn" LOC = P28;
NET "GBA_CSn" LOC = P29;
NET "GBA_VCC" LOC = P24;
NET "GBA_CLK" LOC = P25;
NET "AD1895_CLK" LOC = P141;

NET "SPI0_MOSI" LOC = P142;
NET "SPI0_CSn" LOC = P140;
NET "SPI0_SCLK" LOC = P12;
NET "SPI0_DC" LOC = P3;

NET "SPI0_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI0_CSn" IOSTANDARD = LVCMOS33;
NET "SPI0_SCLK" IOSTANDARD = LVCMOS33;
NET "SPI0_DC" IOSTANDARD = LVCMOS33;

#Created by Constraints Editor (xc3s50an-tqg144-4) - 2016/11/13
NET "ClkLoopIn1" TNM_NET = "ClkLoopIn1";
TIMESPEC TS_ClkLoopIn1 = PERIOD "ClkLoopIn1" 20 ns HIGH 50 %;

NET "ClkLoopIn2" TNM_NET = "ClkLoopIn2";
TIMESPEC TS_ClkLoopIn2 = PERIOD "ClkLoopIn2" 15 ns HIGH 50 %;



NET "wClk" TNM_NET = "wClk";
TIMESPEC TS_wClk = PERIOD "wClk" 20 ns HIGH 50 %;

#NET "wClk2" TNM_NET = "wClk2";
#TIMESPEC TS_wClk2 = PERIOD "wClk2" 15 ns HIGH 50 %;



NET "AD1895_RESET" LOC = P19;


NET "AD1895_RESET" IOSTANDARD = LVCMOS33;
NET "AD1895_RESET" DRIVE = 2;
NET "AD1895_RESET" SLEW = QUIETIO;

# PlanAhead Generated physical constraints 

NET "RPI_PIN7" LOC = P8;

# PlanAhead Generated IO constraints 

NET "RPI_PIN7" IOSTANDARD = LVCMOS33;
NET "RPI_PIN13" IOSTANDARD = LVCMOS33;
NET "RPI_PIN16" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "RPI_PIN16" LOC = P4;
NET "RPI_PIN13" LOC = P5;
